.container {
  display: flex;
  margin:0px;
  padding:0px;
}

.book-list {
  flex-grow: 1;

}

.genre-form {
    margin-top: 20px;
    width:250px;
    padding-left:20px;
    padding-bottom:20px;
    background-color:white;
}

.search {
    margin-bottom:10px;
}