{% extends "catalog/base.html" %}

{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'catalog/css/book_list.css' %}"> {% endblock %}

{% block content %}

<div class="container">
  <div class="book-list">
    <h1>Список книг</h1>
    <form class="search" method="get">
      <input type="text" name="q" placeholder="Введите запрос">
      <button type="submit">Найти</button>
    </form>
    {% if results %}
    <h4>Результаты поиска:</h4>
    <ul>
      {% for book in results %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
      </li>
      {% endfor %}
    </ul>
    {% elif book_list %}
    <ul>
      {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>There are no books in the library.</p>
    {% endif %}
  </div>
  <div class="genre-form">
    <form class="genre" method="get">
      <h3>Жанры</h3>
      {% for i in genre %}
      <input type="checkbox" id="genre_{{ i.id }}" name="chekbox" value="{{ i.id }}">
      <label for="genre_{{ i.id }}"> {{ i.name }}</label><br>
      {% endfor %}
      <button type="submit">Найти</button>
    </form>
  </div>
</div>


{% endblock %}