{% extends "catalog/base.html" %}

{% block content %}
<h1>Библиотека "Born in the Bookshelf"</h1>

  <p>Добро пожаловать в библиотеку <em>"у Вадима"</em>, эта библиотека представлена как проект разработчика</p>

<h2>Наш контент</h2>

  <p>Библиотека имеет следующее количество записей:</p>
  <ul>
    <li><strong>Книги:</strong> {{ num_books }}</li>
    <li><strong>Копии:</strong> {{ num_instances }}</li>
    <li><strong>Доступные копии:</strong> {{ num_instances_available }}</li>
    <li><strong>Авторы:</strong> {{ num_authors }}</li>
  </ul>

{% endblock %}